html, body {
    height: 98%;
    margin: 0;
}

.Container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.pdfUpload{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdfViewer{
    flex:1;
    padding-top: 62px;
}
.header{

    border-bottom: solid;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-width: 2px;
    padding: 0.5%;
}