.DroppableComponent{
    font-family:Gotham-Book;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dropContainer{
    color:rgb(37, 37, 37);
    background-color: rgba(224, 218, 218, 0.576);
    border-style: dashed;
    border-color: #949494;
    width: 100%;
    color: rgb(255, 255, 255);
    height: calc(1rem * 17);
    width: calc(1rem * 19);
}
.drop{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(1rem * 15.5);
    width: calc(1rem * 19);
}
.fileText{
    display: flex;
    align-items: center;
    border-top: 1px dashed rgb(135, 129, 129);
    height: 1.5rem;
}

.removeFile{
    width: 5%;
    float: right;
}

.buttonUpload{
    border: none;
}
.uploadText{
    cursor: pointer;

}
.uploadText:hover {
    color: #bebebe;
}
.button{
    display: flex;
    padding-top: 5px;
}