@font-face {
    font-family: 'Gotham';
    src: url('../../fonts/Gotham-Black.otf') format('truetype');
    /* Add additional src lines for different font file formats */
  }


.header{
    background-color:#333;
    color: rgb(255, 255, 255);
    padding-left: 0.5%;
    font-family:Gotham;
}